.admin-about {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 635px));
    justify-content: space-between;
    gap: 20px;
    &-item {
    }
  }

  &__form {
    &-item {
      &-title {
        color: $color-primary;
        font-size: $fz-xs;
        font-weight: 700;
        letter-spacing: 0.1em;
      }

      &-input {
        display: block;
        font-size: $fz-xxs;
        width: 100%;
        height: 200px;
        resize: none;
      }
    }

    &-button {
      width: 100%;
      margin: 0 auto;
      margin-top: 15px;
    }
  }
}
