.catalog {
  &__inner {
  }

  &__list {
    position: relative;
    width: 150px;
    padding: 5px 50px 5px 5px;
    display: inline-block;
    color: $color-white;
    background-color: $color-grey;
    font-size: $fz-xs;
    cursor: pointer;

    &-select {
      position: absolute;
      top: calc(100% + 5px);
      left: 0;
      width: inherit;
      display: inline-block;
      color: $color-white;
      background-color: $color-grey;
      font-size: $fz-xs;
    }

    &-item {
      width: 100%;
      padding: 5px;
      cursor: pointer;
      &:hover {
        background-color: #111;
      }
      &_selected {
        background-color: #111;
      }
    }

    &-arrow {
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      pointer-events: none;
      svg {
        display: block;
      }
    }
  }
}
