* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

body {
  background-color: $color-foreign;
}

.noscroll {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

input::-ms-clear {
  display: none;
}

input:focus,
input:active,
input:focus-visible,
button:focus,
button:active,
select:focus,
select:active,
textarea:focus-visible {
  outline: none;
}

select,
input {
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  &::-ms-expand {
    display: none;
  }
}

button,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

section {
  padding: 80px 0;
  @media (max-width: $sm) {
    padding: 40px 0;
  }
}

.container {
  max-width: 1350px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
