// Цвета
$color-primary: #aebbff;
$color-primary-hover: #c9d1ff;
$color-foreign: #222;
$color-white: #fff;
$color-grey: #353535;

// Шрифты
$fz-x: 48px;
$fz-l: 32px;
$fz-m: 24px;
$fz-s: 20px;
$fz-xs: 18px;

// Максимы
@mixin button-hovering {
    background-color: $color-primary-hover;
}

// Медиа
$xxl: 1600px;
$xl: 1200px;
$lg: 960px;
$md: 768px;
$sm: 576px;
$xs: 320px;
