.about {
    &__text {
        font-size: $fz-m;
        color: $color-white;
        text-align: center;
        line-height: 162%;
        font-weight: 400;
        letter-spacing: 2.6px;

        @media (max-width: $md) {
            font-size: 16px;
            letter-spacing: 1.5px;
        }
    }

    .button {
        width: fit-content;
        display: block;
        background: $color-primary;
        color: $color-foreign;
        margin: 130px auto 0 auto;
        padding: 20px 40px;
        border: none;
        font-size: $fz-m;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background: $color-primary-hover;
        }
    }

    &__line {
        display: block;
        width: 520px;
        height: 1px;
        background: $color-white;
        margin: 80px auto;

        @media (max-width: $md) {
            margin: 40px auto;
            width: 80%;
        }
    }

    &__content {
        margin-bottom: 75px;

        @media (max-width: $md) {
            margin-bottom: 35px;
        }

        &:last-child {
            margin: 0;
        }

        &-titleCountry {
            display: block;
            margin-bottom: 20px;
            color: $color-primary;
            font-size: $fz-l;
            font-weight: 400;
            display: flex;
            align-items: center;

            @media (max-width: $md) {
                font-size: 22px;
                margin-bottom: 15px;
            }

            & > svg {
                display: block;
                height: 42px;
                margin-right: 20px;

                @media (max-width: $md) {
                    height: 32px;
                    margin-right: 10px;
                }
            }
        }

        &-text {
            color: $color-white;
            font-size: $fz-m;
            line-height: 162%;
            font-weight: 400;

            @media (max-width: $md) {
                font-size: 16px;
                margin-left: 10px;
            }
        }
    }
}
