.advantages {
  background-color: $color-grey;

  &__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 400px));
    justify-content: space-between;
    column-gap: 20px;
  }

  &__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
    gap: 25px;

    &-img {
      width: fit-content;
      height: 130px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-icon {
      height: 100%;
    }

    &-title {
      font-size: $fz-l;
      color: $color-primary;
      font-weight: 700;
      letter-spacing: 3.52px;
    }

    &-descr {
      color: $color-white;
      text-align: center;
      font-size: $fz-xs;
      font-weight: 500;
      line-height: 160%;
      letter-spacing: 1.62px;
    }
  }
}
