@media (max-width: $lg) {
  .admin-applications {
    &__list {
      grid-template-columns: repeat(2, minmax(auto, 100%));
    }
  }
}

@media (max-width: $md) {
  .admin-applications {
    &__list {
      &-item {
        &-text {
          &-button {
            margin: 0;
          }
        }
      }
    }
  }
}

@media (max-width: $sm) {
  .admin-applications {
    .admin-applications {
      &__list {
        grid-template-columns: 1fr;
      }
    }
  }
}
