.catalog {
  &__inner {
  }

  &__list {
    position: relative;
    width: 150px;
    padding: 10px 15px;
    margin-bottom: 30px;
    display: inline-block;
    color: $color-white;
    background-color: $color-grey;
    font-size: $fz-xs;
    cursor: pointer;

    &-select {
      position: absolute;
      top: calc(100% + 5px);
      left: 0;
      width: 100%;
      display: inline-block;
      background-color: $color-grey;
      font-size: $fz-xs;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s;
      &_active {
        opacity: 1;
        pointer-events: auto;
      }
    }

    &-item {
      width: 100%;
      padding: 10px 15px;
      cursor: pointer;
      &:hover {
        background-color: $color-black;
      }
      &_selected {
        background-color: $color-black;
      }
    }

    &-arrow {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      pointer-events: none;
      transition: 0.3s;
      &_active {
        transform: translateY(-50%) rotateX(180deg);
      }

      svg {
        display: block;
        path {
          stroke: $color-primary;
        }
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 300px));
    justify-content: space-between;
    column-gap: 15px;
    row-gap: 30px;
    &-card {
      background-color: $color-grey;
      width: 100%;
      padding-bottom: 20px;
      &-img {
        height: 250px;
        overflow: hidden;
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      &-about {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5px;
        padding: 0 20px;
        margin: 10px 0 0 0;
        * {
          letter-spacing: 0.1em;
          color: $color-white;
          font-size: $fz-xs;
          font-weight: 700;
        }
      }

      &-title {
        color: $color-primary;
        font-size: $fz-l;
        font-weight: 700;
        letter-spacing: 0.1em;
        margin-bottom: 5px;
      }

      &-year {
      }

      &-descr {
        &_primary {
          color: $color-primary;
        }
      }

      &-drive {
      }
    }
  }
}
