@import '../../variables';

.splide {
  &__arrow {
    &--prev {
      left: -3em !important;
    }

    &--next {
      right: -3em !important;
    }
  }

  &__pagination {
    bottom: -2em !important;
    &__page {
      background: $color-primary-hover !important;
    }

    &__page.is-active {
      background: $color-primary !important;
    }
  }
}