@media (max-width: $md) {
  .contacts {
    &__inner {
      &-content {
        align-items: stretch;
        &-address {
          gap: 0;
          justify-content: space-between;
        }

        &-list {
          width: min-content;
        }
      }

      &-map {
        height: 50vw;
      }
    }
  }
}

@media (max-width: $sm) {
  .contacts {
    &__inner {
      flex-direction: column-reverse;
      &-content {
        flex-direction: column;
        &-list {
          width: 100%;
          gap: 15px;
          &-item:last-child {
            margin-left: auto;
          }
        }
      }
    }
  }
}

@media (max-width: $xs) {
  .contacts {
    &__inner {
      &-content {
        &-list {
          &-item:last-child {
            margin: 0;
            width: 100%;
          }

          &-button {
            justify-content: center;
            width: 100%;
          }
        }
      }
    }
  }
}
