.about {
  &__text {
    font-size: $fz-m;
    color: $color-white;
    text-align: center;
    line-height: 162%;
    font-weight: 400;
    letter-spacing: 2.6px;
  }

  &__line {
    display: block;
    width: 520px;
    height: 1px;
    background: $color-white;
    margin: 80px auto;
  }

  &__content {
    margin-bottom: 75px;

    &:last-child {
      margin: 0;
    }

    &-item {
      display: block;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      &-img {
        svg {
          display: block;
          width: auto;
          height: 42px;
          margin-right: 20px;
          path {
            fill: $color-primary;
          }
        }
      }

      &-title {
        color: $color-primary;
        font-size: $fz-l;
        font-weight: 400;
      }
    }

    &-text {
      color: $color-white;
      font-size: $fz-m;
      line-height: 162%;
      font-weight: 400;
    }
  }
}
